.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.sidebar {
  border-right: 1px solid var(--borderColor);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  flex: 1;
  overflow: auto;
}

.noData {
  font-weight: bold;
  margin: 12px;
}
