.sidebar {
  margin: 20px; 
}

.title {
  text-align: center;
}

.logo {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.infoSection {
  list-style: none;
  padding:0;
}

.infoSection > li {
  display: flex;
}

.infoSection > li > p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.infoTitle {
  font-weight: bold;
  margin-right: 10px;
}

.noPlayer {
  text-align: center;
}

.selectPlayerLabel {
  font-weight: bold;
}

.selectPlayer, .copyFlow {
  width: 100%;
  margin-top: 8px;
  padding:8px;
  border-radius:8px;
}

.copyFlow {
  color: #fff;
  background-color: #2d8fd5;
}