version: 2.1

parameters:
  GHA_Action:
    type: string
    default: ""
  should_release:
    type: boolean
    default: false

orbs:
  macos: circleci/macos@2
  android: circleci/android@2.0
  codecov: codecov/codecov@3.2.2

executors:
  base:
    docker:
      - image: docker.io/playerui/bazel-docker:6
    working_directory: ~/tools
    resource_class: xlarge
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"

commands:
  auto_shipit:
    description: Perform Auto shipit
    steps:
      - attach_workspace:
          at: ~/tools

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main

      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: echo -e $GPG_KEY | gpg --import --batch
      - run: |
          source ~/.bashrc
          npx auto shipit --only-graduate-with-release-label -vv

jobs:
  setup:
    executor: base
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  bazelrc:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      - run: |
          echo "build --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "test --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "coverage --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: base
    steps:
      - attach_workspace:
          at: ~/tools

      - run: bazel build --config=ci -- //...

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    executor: base
    steps:
      - attach_workspace:
          at: ~/tools

      - run: bazel test --config=ci -- //...

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

  coverage:
    executor: base
    steps:
      - attach_workspace:
          at: ~/tools

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main

      - run: |
          BUNDLE_TARGETS=$(bazel query "kind(nodejs_test, //...)" --output label 2>/dev/null | tr '\n' ' ')
          bazel coverage --config=ci -- $BUNDLE_TARGETS

      - codecov/upload:
          file: ./bazel-out/_coverage/_coverage_report.dat

  maybe_release:
    executor: base
    steps:
      - run: echo "Should I release? (<< pipeline.parameters.should_release >>)"
      - when:
          condition: << pipeline.parameters.should_release >>
          steps:
            - auto_shipit

  release:
    executor: base
    steps:
      - auto_shipit

workflows:
  build_and_test_pr:
    jobs:
      - setup:
          filters:
            branches:
              ignore:
                - main
                - /version-.*/
                - /pull\/.*/
            tags:
              ignore: /.*/

      - bazelrc:
          context:
            - BuildTools
          requires:
            - setup

      - build:
          requires:
            - bazelrc

      - maybe_release:
          context:
            - Publish
          requires:
            - build

      - test:
          requires:
            - build

      - coverage:
          requires:
            - build

  build_and_test_pr_fork:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - /pull\/.*/
            tags:
              ignore: /.*/

      - build:
          requires:
            - setup

      - test:
          requires:
            - build

      - coverage:
          requires:
            - build

  build_and_test_main:
    when:
      equal: ["", << pipeline.parameters.GHA_Action >>]
    jobs:
      - setup:
          filters:
            branches:
              only:
                - main
                - /version-.*/

      - build:
          requires:
            - setup

      - test:
          requires:
            - build

      - coverage:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - test
            - coverage

  release:
    when:
      equal: [release, << pipeline.parameters.GHA_Action >>]
    jobs:
      - setup

      - build:
          requires:
            - setup

      - test:
          requires:
            - build

      - coverage:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - test
            - coverage
