version: 2.1

parameters:
  GHA_Action:
    type: string
    default: ""
  should_release:
    type: boolean
    default: false

orbs:
  codecov: codecov/codecov@5.4.3

executors:
  base:
    docker:
      - image: docker.io/playerui/bazel-docker-slim:18
    working_directory: ~/tools
    resource_class: xlarge
    environment:
      TZ: "/usr/share/zoneinfo/America/Los_Angeles"

commands:

  setup_auth:
    description: Configure authentication for deployments
    steps:
      - run: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run: git config --global user.name "Intuit Service"
      - run: git config --global user.email "opensource-svc@intuit.com"

  auto_shipit:
    description: Perform Auto shipit
    steps:
      - attach_workspace:
          at: ~/tools

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main
      - setup_auth
      - run: echo "//registry.npmjs.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: echo -e $GPG_KEY | gpg --import --batch
      - run: |
          source ~/.bashrc
          npx auto shipit --only-graduate-with-release-label -vv
  check_branch_status:
    description: "Check if the branch is clean after the build"
    steps:
      - run:
          name: Check branch status
          command: |
            if [[ -n "$(git status --porcelain)" ]]; then 
              echo "Error: The branch is not clean after the build. Please run the build locally and commit any changes."
              exit 1
            else
              echo "The branch is clean after the build."
            fi

jobs:
  setup:
    executor: base
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .

  bazelrc:
    executor: base
    steps:
      - attach_workspace:
          at: ~/player
      - run: |
          echo "build --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "test --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
          echo "coverage --remote_header=x-buildbuddy-api-key=${BUILDBUDDY_API_KEY}" >> .bazelrc.local
      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: base
    steps:
      - attach_workspace:
          at: ~/tools
      # Python files don't have a build step so we only need to actually build the JS files
      - run: bazel build -- $(bazel query "kind(npm_package, //...)" --output label 2>/dev/null | tr '\n' ' ')

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{ { checksum "package.json" }}

      - persist_to_workspace:
          root: .
          paths:
            - .
      - check_branch_status

  test:
    executor: base
    steps:
      - attach_workspace:
          at: ~/tools

      - restore_cache:
          keys:
            - v1-bazel-cache-core-{{ .Branch }}-{{ .Revision }}
            - v1-bazel-cache-core-{{ .Branch }}
            - v1-bazel-cache-core-main

      - run: |
          bazel coverage --config=ci -- $(bazel query "kind(js_test, //...) + kind(py_test, //...)" --output label 2>/dev/null | tr '\n' ' ')

      - run:
          when: always
          command: |
            RESULTS_DIR=_test_results
            find -L ./bazel-testlogs -name test.xml | while read line
            do
              mkdir -p $RESULTS_DIR/$(dirname $line)
              cp $line $RESULTS_DIR/$(dirname $line)
            done

      - store_test_results:
          path: _test_results

      - codecov/upload:
          files: ./bazel-out/_coverage/_coverage_report.dat

  maybe_release:
    executor: base
    steps:
      - run: echo "Should I release? (<< pipeline.parameters.should_release >>)"
      - when:
          condition: << pipeline.parameters.should_release >>
          steps:
            - auto_shipit

  release:
    executor: base
    steps:
      - auto_shipit

workflows:
  build_and_test_pr:
    jobs:
      - setup:
          filters:
            branches:
              ignore:
                - main
                - /version-.*/
            tags:
              ignore: /.*/

      - bazelrc:
          filters:
            branches:
              ignore: /pull\/.*/
          context:
            - BuildTools
          requires:
            - setup

      - build:
          name: build-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - bazelrc

      - build:
          name: build-fork
          filters:
            branches:
              only:
                - /pull\/.*/
          requires:
            - setup

      - maybe_release:
          filters:
            branches:
              ignore:
                - /pull\/.*/
          context:
            - Publish
          requires:
            - build-trunk

      - test:
          name: test-trunk
          filters:
            branches:
              ignore:
                - /pull\/.*/
          requires:
            - build-trunk

      - test:
          name: test-fork
          filters:
            branches:
              only:
                - /pull\/.*./
          requires:
            - build-fork

  build_and_test_main:
    when:
      equal: ["", << pipeline.parameters.GHA_Action >>]
    jobs:
      - setup:
          filters:
            branches:
              only:
                - main
                - /version-.*/
      - bazelrc:
          context:
            - BuildTools
          requires:
            - setup

      - build:
          requires:
            - bazelrc

      - test:
          requires:
            - build

      - release:
          context:
            - Publish
          requires:
            - test

  full_release:
    when:
      equal: [release, << pipeline.parameters.GHA_Action >>]
    jobs:
      - setup

      - build:
          requires:
            - setup

      - bazelrc:
          context:
            - BuildTools
          requires:
            - setup

      - test:
          requires:
            - bazelrc

      - release:
          context:
            - Publish
          requires:
            - test
