.console-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: calc(100vh - var(--top-nav-height) - var(--console-header-height) - var(--console-input-height));
}