.events-panel {
  max-height: calc(100vh - var(--top-nav-height));
  overflow: auto;

  .events-panel-table {
    border-collapse: separate;
  }

  table th {
    position: sticky;
    top: 0;
    background-color: var(--headBackgroundColor);
  }

  .events-panel-obj-inspector {
    overflow: hidden;
  }
}