.data-panel-wrapper {
  height: calc(100vh - var(--top-nav-height));
  overflow: auto;
}

.data-details {
  margin: 8px;
}

.data-inspector {}

.data-details-pair {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.data-details-obj-inspector {
  width: fit-content;
}

.data-details-string-value {
  color: var(--stringColor);
}

.data-details-section {
  &:not(:last-child) {
    border-bottom: 1px solid var(--dividerColor);
    padding-bottom: 8px;
  }

  h5 {
    margin: 8px 4px;
  }
}